* {
  scroll-behavior: smooth;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
[hidden],
template {
  display: none;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  outline-style: none;
  padding: 0;
}
:focus {
  outline: none;
}
body,
html {
  font-size: 14px;
}
body {
  color: #4c6a94;
  font-family: Fira Sans, -apple-system, BlinkMacSystemFont, Segoe UI,
    Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
body,
button,
html,
input,
select,
textarea {
  text-rendering: optimizeLegibility;
}
hr {
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#eff2f7),
    color-stop(#c0ccda),
    color-stop(#c0ccda),
    to(#eff2f7)
  );
  background-image: linear-gradient(270deg, #eff2f7, #c0ccda, #c0ccda, #eff2f7);
  border: 0;
  height: 1px;
  margin: 0 0 28px;
  margin: 0 0 2rem;
}
a {
  color: #0070d2;
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
a:active,
a:hover {
  color: #002a54;
}

ul {
  list-style: none;
}
dl dt {
  font-weight: 600;
}
dl dd {
  margin-bottom: 7px;
  margin-bottom: 0.5rem;
}
ol {
  list-style-position: inside;
}

.sv-ml--10 {
  margin-left: 10px !important;
}

.sv-button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  font-size: 11.9px;
  font-size: 0.85rem;
  font-stretch: normal;
  font-weight: 600;
  outline: none;
  padding: 0 14px;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: uppercase;
}

.primary.sv-button {
  background-color: #66bb6a;
  color: #fff;
}
.primary.sv-button:hover {
  background-color: #419345;
}
.primary[disabled].sv-button {
  background-color: #c8e6c9;
  color: #fff;
  cursor: not-allowed;
}

.default.sv-button {
  background-color: #d3dce6;
  color: #3c4858;
}
.default.sv-button:hover {
  background-color: #a2b5ca;
}
.default[disabled].sv-button {
  background-color: #f4f6f8;
  color: #657a95;
  cursor: not-allowed;
}

.sv-row,
.sv-row--with-gutter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

input[type="text"] {
  border: #78909c 1px solid;
  border-radius: 3px;
  padding: 5px;
}
