body {
  margin: 0;
  padding: 0;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  color: #2d2e31;
}

.sv-column {
  transition: none;
}

h2 {
  font-size: 18px;
  font-family: Roboto, Fira Sans, -apple-system, BlinkMacSystemFont, Segoe UI,
    Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  color: #155c95;
}

h3 {
  font-size: 16px;
  font-family: Roboto, Fira Sans, -apple-system, BlinkMacSystemFont, Segoe UI,
    Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  color: #155c95;
}

.wz-menu-section h2 {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #8c8c8c;
  letter-spacing: 0.115rem;
}

.wz-menu-section ul li {
  font-size: 14px;
  line-height: 32px;
}

.wz-newpage-show {
  margin-bottom: 15px;
}

.wz-newpage-show img {
  background: #eee;
  width: 120px;
  height: 70px;
  border: 0;
}

.wz-newpage-show h4 {
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.wz-newep-image-selection {
  height: 180px;
  background-color: #fbfbfb;
  border: 1px dashed #eee;
}

.wz-newep-sel-img-bt {
  position: relative;
  top: 75px;
}

.wz-newep-sel-img-bt span {
  margin-left: 10px;
}

input.wz-ep-title {
  font-size: 2rem;
  border: 0;
}

.wz-ep-title {
  font-family: "Muli", sans-serif;
  color: #b3b3b1;
  font-weight: 600;
}

.wz-listen h1 {
  color: #091a45;
  font-size: 2rem;
  line-height: 3rem;
}

.wz-listen h1 a {
  line-height: 36px;
}

.wz-listen h1 a i {
  font-size: 36px;
  line-height: 30px;
}

.wz-listen h2 {
  font-weight: normal;
  color: #aaa;
  padding: 0;
  line-height: 28px;
}

.wz-listen-tools {
  line-height: 28px;
  text-align: right;
}

.wz-listen-tools a {
  line-height: 35px;
}

.wz-listen-tools a i {
  font-size: 20px;
  margin-right: 5px;
  line-height: 32px;
  vertical-align: top;
}

.wz-listen-show-info {
  margin-bottom: 25px;
  width: 100%;
}

.wz-listen-show-info img {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  float: left;
  margin-right: 15px;
}

.wz-listen-show-info h4 {
  font-size: 1.15em;
  display: block;
  margin: 0;
  padding: 0;
  line-height: 24px;
}

.wz-listen-show-info p {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
  display: inline-block;
  line-height: 24px;
}

.wz-listen-episode-notes {
  margin-left: 63px;
}

a.wz-listen-episode-notes-more {
  padding: 10px 0;
}

.wz-listen-show-name {
  display: inline-block;
  margin-left: 15px;
  height: 48px;
  vertical-align: text-bottom;
}

.wz-listen-show-subscribe {
  padding: 8px 0;
  float: right;
  height: 48px;
  vertical-align: middle;
}

/*
   * react-circular-progressbar styles
   *
   */
.CircularProgressbar {
  height: 35px;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #43a047;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
}

.CircularProgressbar .CircularProgressbar-text {
  display: none;
}

button.wz-add-button {
  padding: 0;
  width: 32px;
}

button.sv-button.link.link-info.wz-add-button:hover {
  background-color: #f2f2f2;
  border-radius: 40px;
}

.wz-liked {
  color: #ed4956;
}

.wz-50--fixed {
  flex: none;
  width: 50px;
}

.wz-episode-list {
  display: grid;
}

.wz-episode-list li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.wz-episode-list li:last-child {
  border-bottom: 0;
}

.wz-fixed-width {
  flex: none;
}
