div.pulse-loading div {
  width: 12px;
  height: 12px;
  margin: 2px;
  border-radius: 100%;
  display: inline-block;
}

@keyframes animation-j72l4z {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  45% {
    transform: scale(0.1);
    opacity: 0.7;
  }
  80% {
    transform: scale(1);
    opacity: 1;
  }
}

div.pulse-loading div.one {
  background-color: rgba(21, 87, 154, 0.65);
  animation: 0.75s cubic-bezier(0.2, 0.68, 0.18, 1.08) 0.12s infinite normal
    both running animation-j72l4z;
}

div.pulse-loading div.two {
  background-color: rgba(22, 128, 113, 0.65);
  animation: 0.75s cubic-bezier(0.2, 0.68, 0.18, 1.08) 0.24s infinite normal
    both running animation-j72l4z;
}

div.pulse-loading div.three {
  background-color: rgba(22, 153, 88, 0.65);
  animation: 0.75s cubic-bezier(0.2, 0.68, 0.18, 1.08) 0.36s infinite normal
    both running animation-j72l4z;
}
