.wz-feed-item {
    display: inline-flex;
    background: #fbfbfb;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    padding: 8px;
    border-radius: 4px;
    height: 101px;
    width: 100%;
}

.wz-feed-item-img img {
    width: 85px;
    max-width: 85px;
    height: 85px;
    max-height: 85px;
    border-radius: 4px;
    border: 1px solid #ececec;
    overflow: hidden;
    display: block;
}

.wz-feed-item-data {
    flex: 1;
    margin: 0 0 0 10px;
    padding: 8px;
    color: #888;
}

.wz-feed-item-data p {
    font-weight: 400;
    letter-spacing: 0.01071em;
    display: -webkit-box;
    max-height: 2.5rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    line-height: 1.25rem;
    margin-bottom: 2px;

}

.wz-feed-item-data p.episode-title {
    color: #2d2e31;
    font-weight: 700;
}

.wz-feed-item-data p.show-title {
    font-size: 0.875rem;
    -webkit-line-clamp: 1;
}

.wz-feed-item-data p.show-title a {
    color: #888;
}

.wz-feed-item-data p.published-at {
    font-size: 0.875rem;
    color: #888;
}

.wz-feed-item.condensed {
    box-shadow: none;
    background: #FFFFFF;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0 10px 0 0;
    margin: 0;
}

.wz-feed-item.condensed .wz-feed-item-img img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
}

.wz-feed-item.condensed:hover .wz-feed-item-img img {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 3px 1px 0px rgba(0, 0, 0, 0.14), 0px 4px 4px 0px rgba(0, 0, 0, 0.22);
}

.wz-feed-item.condensed .wz-feed-item-data {
    flex: none;
    margin: 0;
}

.wz-feed-item.condensed .wz-feed-item-data p {
    max-height: 3.5rem;
    -webkit-line-clamp: 3;
}

.wz-feed-item.transparent {
    background-color: transparent;
    box-shadow: none;
}

.wz-feed-item.simple {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 7px;
    box-shadow: none;
    display: block;
    height: 135px;
    margin: 0 10px;
}

.wz-feed-item.simple p.published-at {
    font-size: 0.875rem;
    color: #888;
}

.wz-feed-item.simple p.show-title {
    font-size: 0.875rem;
    color: #383838;
    -webkit-line-clamp: 1;
    margin: 0;
    overflow: hidden;
    line-height: 1.25em;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-box-orient: vertical;
    max-height: 2.5rem;
    display: -webkit-box;

}

.wz-feed-item.simple p.episode-title {

    font-size: 1.1rem;
    color: #212121;
    -webkit-line-clamp: 2;
    margin: 0 0 5px 0;
    overflow: hidden;
    line-height: 1.25em;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-box-orient: vertical;
    max-height: 2.5rem;
    display: -webkit-box;
}

.wz-feed-item.simple .wz-feed-item-img img {
    width: 45px;
    height: auto;
    border: 1px solid #ececec;
}

.wz-feed-items-action-bar {
    display: none;
    flex-direction: column;
}

.wz-feed-items-action-bar > div {
    margin-top: auto;
}

.wz-feed-item:hover div.wz-feed-items-action-bar {
    display: flex;
}

.out-default.sv-button:hover {
    background-color: #e5e5e5;
}
