.wz-left {
    padding: 25px 40px;
    height: 100%;
    position: fixed;
    width: 250px;
    box-shadow: 0px 0px 30px 5px rgba(212, 212, 212, 0.8) inset;
}

.wz-left-bg {
    height: 100%;
    width: 250px;
    position: fixed;
    background-color: #fbda61;
    background-image: linear-gradient(127deg, #fbda61 13%, #ff5acd 91%);
    opacity: 0.77;
}

.wz-left-bg-2 {
    height: 100%;
    position: fixed;
    width: 250px;
    background-color: rgba(238, 240, 244, 0.75);
}

.wz-left-bg-3 {
    height: 100%;
    position: fixed;
    width: 250px;
    background: url(/img/papyrus.png);
    opacity: 0.3;
}

.wz-logo {
    padding: 15px 0 25px 0;
}


@media (min-width: 800px) {
    .wz-feed {
        padding: 40px 72px 140px 72px;
    }
}

.wz-user {
    text-align: right;
    position: relative;
}

.wz-user-wg img {
    border-radius: 45px;
    width: 32px;
    height: auto;
    margin-right: 10px;
    cursor: pointer;
}

.wz-user-wg span {
    line-height: 32px;
}

a.wz-login {
    border: 1px solid cornflowerblue;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 900;
    font-size: 0.76em;
    width: 125px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
}

.wz-user-details {
    width: 275px;
    position: absolute;
    border: 1px solid #e2e2e2;
    background-color: #fff;
    right: 0;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.03);
    padding: 15px;
    text-align: left;
    z-index: 9;
    display: block;
}

.wz-user-details.hidden {
    display: none;
}

.wz-user-details hr {
    margin: 0;
}

.wz-user-details img {
    border-radius: 65px;
    margin-right: 15px;
}

.wz-user-details span.wz-user-name {
    font-weight: 900;
    font-size: 1.1em;
    line-height: 3.3em;
}


.wz-menu {
    display: none;
}

@media (min-width: 1024px) {
    .wz-menu {
        display: block;
    }
}
