.episode-slider {
    z-index: 20;
}

.episode-slider .slick-slide > div {
    margin: 10px;
}

.episode-slider div.slick-list {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    margin-top: auto;
}
